<!DOCTYPE html>
<html>
<head>
    <title>Failed Login</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <header>
        <h1><a href="https://www.uh.edu/">TEAM 13 TACOS</a></h1>
    </header>

    <div class="login-failed">
        <h2>Login Failed</h2>
        <p class="text-center">Invalid username or password. Please try again.</p>
        <button onclick="window.location.href='/login_view'" class="back-to-login">Back to Login</button>
    </div>

    <footer>
    <p>Joshua Batac | Loryn Higginbotham | Zain Baig | John Cruz | Luis Ramos</p>
    </footer>
</body>
</html>