<!DOCTYPE html>
<html>
<head>
    <title>Index Page</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

    <header>
        <h1><a href="/login_view">TEAM 13 TACOS</a></h1>
    </header>

    <h1 class="text-center">HOMEPAGE</h1>

    <button onclick="window.location.href='/server_view'">Go to Server View</button> 
    <button onclick="window.location.href='/manager_view'">Go to Manager View</button>

    <footer>
        <p>Joshua Batac | Loryn Higginbotham | Zain Baig | John Cruz | Luis Ramos</p>
    </footer>

</body>
</html>
