<!DOCTYPE html>
<html>
<head>
    <title>Index Page</title>
</head>
<body>
    <h1>Welcome to the Index Page</h1>
    <a href="/manager_view">Go to Manager View</a>
    <a href="/server_view">Go to Server View</a>
</body>
</html>