<!DOCTYPE html>
<html>
<head>
    <title>Inventory View</title>
</head>
<body>
    <h1>Inventory View</h1>
    <a href="/manager_view">Back to Manager View</a>
    <a href="/inventory_Report">Inventory Report</a>
    <a href="/inventory_Report">Modify Inventory</a>

</body>
</html>
