<!DOCTYPE html>
<html>
<head>
    <title>Inventory Report</title>
</head>
<body>
<h1>Table Data</h1>
  <table>
    <tr>
      <th>Ingredient</th>
      <th>current Storage</th>
      <th>max Storage</th>
      <% data.forEach(item => { %>
      <tr>
        <td><%= item.ingredientName %></td>
        <td><%= item.currentStorage %></td>
        <td><%= item.maxStorage %></td>
      </tr>
    <% }); %>
    </tr>
    
  </table>
</body>
</html>