<!DOCTYPE html>
<html>
<head>
    <title>Inventory Report</title>
</head>
<body>
<h1>Table Data</h1>
  <table>
    <tr>
      <th>Ingrediant</th>
      <th>Quantity</th>
      <th>Quantity Ordered</th>
      <% data.forEach(item => { %>
      <tr>
        <td><%= item.ingrediantName %></td>
        <td><%= item.Quantity %></td>
        <td><%= item.QuantityonOrder %></td>
      </tr>
    <% }); %>
    </tr>
    
  </table>
</body>
</html>