<!DOCTYPE html>
<html>
<head>
    <title>Cougar Bell Login</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

    <header>
        <h1><a href="https://www.uh.edu/">TEAM 13 TACOS</a></h1>
    </header>

    <h2>Employee Login</h2>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>

        <input type="submit" value="Login">
    </form>

    <footer>
        <p>Joshua Batac | Loryn Higginbotham | Zain Baig | John Cruz | Luis Ramos</p>
    </footer>

</body>
</html>