<!DOCTYPE html>
<html>
<head>
    <title>manage employee view</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <header>
        <h1><a href="/login_view">TEAM 13 TACOS</a></h1>
    </header>

    <h1 class="text-center">MANAGE EMPLOYEES</h1>

    <div class="button-container">
            <button onclick="window.location.href='/'">Go to index</button> 
    </div>

    <footer>
        <p>Joshua Batac | Loryn Higginbotham | Zain Baig | John Cruz | Luis Ramos</p>
    </footer>
</body>
</html>
