<!DOCTYPE html>
<html>
<head>
    <title>Manager View</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <header>
        <h1><a href="/login_view">TEAM 13 TACOS</a></h1>
    </header>

    <h1 class="text-center">Manager View</h1>

    <div class="button-container">
        <a href="/inventory_view" class="button">Inventory Review</a>
        <a href="/sales_view" class="button">Sale Reports</a>
        <a href="/" >Go to index</a>
    </div>

    <footer>
        <p>Designed by Joshua Batac</p>
    </footer>
</body>
</html>
