<!DOCTYPE html>
<html>
<head>
    <title>sales View</title>
</head>
<body>
    <h1>sales View</h1>
    <a href="/manager_view">Back to Manager View</a>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
  <title>Transactions Over the Past Year</title>
</head>
<body>
  <h1>Transactions Over the Past Year</h1>
  <table>
    <tr>
      <th>Transaction Date</th>
      <th>Amount</th>
      <th>Description</th>
    </tr>
    <% transactionsData.forEach(function(transaction) { %>
      <tr>
        <td><%= transaction.transaction_date %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.description %></td>
      </tr>
    <% }); %>
  </table>
</body>
</html>

