<!DOCTYPE html>
<html>
<head>
    <title>Server view</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

    <header>
        <h1><a href="/">TEAM 13 TACOS</a></h1>
    </header>

    <h1 class="text-center">Server view</h1>

    <a href="/" class="back-to-login">Go to index</a>

    <footer>
        <p>Joshua Batac | Loryn Higginbotham | Zain Baig | John Cruz | Luis Ramos</p>
    </footer>

</body>
</html>
